body {
  padding-top: 10px;
}
.menu{
  background-color: #CCCCCC;
  border: 2px solid black;
  border-radius: 2px;
  text-align: center;
}
.page-principale{
  background-color: white;
  border: 2px solid black;
  border-radius: 2px;
  text-align: center;
}

.liste-item{
  background-color: white;
  border: 2px solid black;
  border-radius: 2px;
  text-align: center;
}

.form-signin
{
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}

.form-signin .form-signin-heading, .form-signin .checkbox
{
    margin-bottom: 10px;
}

.form-signin .checkbox
{
    font-weight: normal;
}

.form-signin .form-control
{
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
    margin : 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.form-signin .form-control:focus
{
    z-index: 2;
}

.form-signin input[type="text"]
{
    margin-bottom: 10px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.form-signin input[type="password"]
{
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

/*.account-wall
{
    margin-top: 20px;
    padding: 40px 0px 20px 0px;
    background-color: #f7f7f7;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}*/

.login-title
{
    color: #555;
    font-size: 18px;
    font-weight: 400;
    display: block;
}

.profile-img
{
    width: 200px;
    height: 200px;
    margin: 10%;
    display: block;
    border-radius: 5%;
}

.liste-profil
{
     margin-top: 10%;
}

.need-help
{
    margin-top: 10px;
}

.new-account
{
    display: block;
    margin-top: 10px;
}

[class="btn btn-lg btn-primary btn-block"]
{
    background-color: #564CDC;
    display: inline-block;
}

[class="btn btn-lg btn-primary btn-block"]:hover
{
    background-color: #392DD7;
    display: inline-block;
}

.img-salon
{
    width: 80px;
    height: 80px;
    margin: 0 auto 10px;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 30%;
    float : left;
}

[class="navbar navbar-default"]
{
    background-color: lightgray;
}

@font-face
{
    font-family: "PoliceDobble";
    src: url('Aula-402.ttf');
}

[class*="col-"], footer
{
  text-align: center;
}

h2
{
    font-family: PoliceDobble;
}

[class="text-center login-title"]
{
    color: black;
    text-decoration: underline;

}

section
{
    background-color: lightgray;
    border: 2px solid purple;
    margin: 10px;
}

.rot_droite
{
    margin: 20px;
    width: 80px;
    height: 80px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

.rot_gauche
{
    margin: 20px;
    width: 80px;
    height: 80px;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.img-jeu
{
    width: 80px;
    height: 80px;
    margin: 0 auto 10px;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 30%;
    float: center;
}

[class='img-jeu2']
{
    width: 20px;
    height: 20px;
  
}

table
{
    margin: 0 auto;
    margin-bottom :20px;
    margin-top: 50px;
}

#Stack
{
display:inline-block;
width:500px;
height:300px;
float:left;
}

#dist_card
{
display:inline-block;
width:500px;
height:300px;
float:left;
}


@img
{
    width : 80px;
    height : 80px;
}

body
{
    background-image: url(img/bg.jpg);
}

[class="text-center new-account"],[class="text-center new-account"]:hover
{
    color: white;
}

.inline_labels label
{
    display: inline-block;
    margin-right: 10px;
}

.img-liste
{
    width : 16px;
    height : 16px;
    margin-left: 10px;
    margin-bottom: 2px;
    vertical-align: middle;
}

.text-left
{
    text-align: left;
}

.text-right
{
    text-align: right;
}

.checkbox
{
    margin: auto;
}

.title-editer
{
    color: #555;
    font-size: 18px;
    font-weight: 400;
    display: inline-block;
    text-decoration: underline;
}

.poubelle
{
    width : 30px;
    height : 30px;
    margin-top: 50%;
}

.bouton-plus
{
    background-color: #2E2E2E;
    display: inline-block;
    width: 50%;
}

.bouton-plus:hover
{
    background-color: #1C1C1C;
    display: inline-block;
    width: 50%;
}

.form-erreur
{
    font-style: bold;
    color: red;
}

.ajouter-item
{
    background-color: #2E2E2E;
    display: inline-block;
    width: 50%;
    margin: 10px;
}

.supp-item
{
    background-color: #2E2E2E;
    display: inline-block;
    width: 50%;
    margin : 10px;
}

.ajouter-item:hover
{
    background-color: #1C1C1C;
    display: inline-block;
    width: 50%;
}

.supp-item:hover
{
    background-color: #1C1C1C;
    display: inline-block;
    width: 50%;
}